#############
## folders ##
#############
build
cmake-*
image_common/

#############
##  files  ##
#############
*.*~
*.*user.*
*.user
*.autosave
CATKIN_IGNORE
*.orig
*~
*.idea
*.pyc
*.save

# Vim swap files
*.swp

# The deb package
*.deb
